body{
    font-family: 'Balsamiq Sans', cursive;
}



/* position */




body > main > div{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.image > div{
    position: absolute;
}





/* background image */


.image > div > img, .image > div > div{
    position: absolute;
    height: 100vh;
    width: 100vw;
}

/* End background image */



.image > div > div{
    color: rgb(0, 0, 0);
    display: grid;
    align-content: end;
    justify-items: center;
}



/* End position */







/* text content */

.image > div > div > div{
    width: 50%;
    text-align: center;
    display: grid;
    border-radius: 20px 20px 0 0;
    background: rgba(255, 255, 255, 0.363);
}

.image > div:nth-child(4) > div >div{
    background: rgba(255, 255, 255, 0);
}



.image > div > div > div > h5{
    font-size: 4em;
    margin: 1em 0 .5em 0;
}

.image > div > div > div > p{
    font-size: 2em;
    margin: 0 0 2em 0;

}

.slideMedia > div > a{
    margin: 7rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    width: 40%;
    height: 35%;
    justify-self: center;
    align-self: center;
    display: grid;
    align-content: center;
    font-size: 1.5em;
    z-index: 100;
    transition: all .2s;
    font-weight: 900;
    background: rgba(255, 255, 255, 0.76);
    position: relative;
    overflow: hidden;
}


.slideContent > div > a{
    margin: 7rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    width: 40%;
    height: 35%;
    justify-self: center;
    align-self: center;
    display: grid;
    align-content: center;
    font-size: 1.5em;
    z-index: 100;
    transition: all .2s;
    font-weight: 900;
    background: rgba(255, 255, 255, 0.76);
    position: relative;
    overflow: hidden;
}

.slideContent > div > a:hover{
    transition-delay: 1s;
    box-shadow: 0px 0px 10px white, 0px 0px 40px white, 0px 0px 80px white;
    color: white;
    background: rgba(0, 0, 0, 0.7);
}

.slideContent > div > a > span, .slideMedia > div > a > span{
    position: absolute;
}

.slideContent > div > a > span:nth-child(1), .slideMedia > div > a > span:nth-child(1){
    width: 100%;
    height: 4px;
    top: 0;
    left: -100%;
    background: linear-gradient(90deg, transparent, rgb(0, 0, 0));
}

.slideContent > div > a > span:nth-child(2), .slideMedia > div > a > span:nth-child(2){
    width: 4px;
    height: 100%;
    right: 0;
    top: -100%;
    background: linear-gradient(180deg, transparent, rgb(0, 0, 0));
}

.slideContent > div > a > span:nth-child(3), .slideMedia > div > a > span:nth-child(3){
    width: 100%;
    height: 4px;
    bottom: 0;
    right: -100%;
    background: linear-gradient(270deg, transparent, rgb(0, 0, 0));
}

.slideContent > div > a > span:nth-child(4), .slideMedia > div > a > span:nth-child(4){
    width: 4px;
    height: 100%;
    left: 0;
    bottom: -100%;
    background: linear-gradient(360deg, transparent, rgb(0, 0, 0));
}





.slideContent > div > a:hover > span:nth-child(1){
    transition: all 1s;
    left: 100%;
}

.slideContent > div > a:hover > span:nth-child(2){
    transition: all 1s;
    transition-delay: .25s;
    top: 100%;
}

.slideContent > div > a:hover > span:nth-child(3){
    transition: all 1s;
    transition-delay: .5s;
    right: 100%;
}

.slideContent > div > a:hover > span:nth-child(4){
    transition: all 1s;
    transition-delay: .75s;
    bottom: 100%;
}





.slideClick > div > a > span:nth-child(1){
    transition: all 1s;
    left: 100%;
}

.slideClick > div > a > span:nth-child(2){
    transition: all 1s;
    transition-delay: .25s;
    top: 100%;
}

.slideClick > div > a > span:nth-child(3){
    transition: all 1s;
    transition-delay: .5s;
    right: 100%;
}

.slideClick > div > a > span:nth-child(4){
    transition: all 1s;
    transition-delay: .75s;
    bottom: 100%;
}






/* End text content */

/* buttons */

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.buttons > img{
    width: 7em;
    background: rgba(255, 255, 255, 0.35);
    height: 80%;
    width: 20%;
    transition: all .3s;
    cursor: pointer;
}

.buttons > img:nth-child(1){
    border-radius: 0 20px 20px 0;
}

.buttons > img:nth-child(2){
    justify-self: end;
    border-radius: 20px 0 0 20px;
}

.buttons > img:hover{
    filter: invert();
}

/* end buttons */


/* Responsive */



@media screen and (max-width: 600px){
    .buttons > img{
        visibility: hidden;
    }

    .image > div > div{
        align-content: center;
    }

    .slideMedia > div > a{
        margin: 0;
        width: 100%;
        height: 300%;
    }




}

@media screen and (max-width: 200px){
    .slideMedia > div > a{
        font-size: 1em;
    }
}